.index-logo{
    padding-right: 160px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin: 0;
    font-size: 1.5rem;
}

.card .arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #121212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .arrow {
    opacity: 1;
}

.welcome-message {
    text-align: center;
    padding: 50px 20px;
}

.welcome-message h1 {
    font-size: 3rem;
    margin: 0;
}

.welcome-message p {
    font-size: 1.2rem;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    height: auto;
    width: auto;
}

/* Ensure the SVG inside the button is correctly sized */
.password-toggle-button svg {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.welcome-card {
    grid-column: span 2;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-card h1 {
    font-size: 3rem;
    margin: 0;
}

.welcome-card p {
    font-size: 1.2rem;
}